<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">
			Host Overview
		</h1>
	</div>
</div>
<div class="row">
	<div class="col-lg-4">
		<div class="panel panel-default" ng-controller="mainController">
			<div class="panel-heading">
				<img class="panel-header-icon" src="/assets/images/cpu1.png">Basic Info
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-lg-6">
						<img src="/assets/images/debian.png">
					</div>
					<div class="col-lg-6">
						<div class="row">
							<div class="col-lg-12">
								{{ basicInfo.os.type }} 
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								{{ basicInfo.os.release }} ({{ basicInfo.os.architecture }})
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6">
						Hostname:
					</div>
					<div class="col-lg-6">
						{{ basicInfo.hostname }}
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6">
						Uptime:
					</div>
					<div class="col-lg-6">
						<timer start-time="basicInfo.uptimeTimer">{{days}} days, {{hours}} hours, {{minutes}} minutes, {{seconds}} seconds.</timer>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-8">
		<div class="panel panel-default" id="a-kind-of-magic"  ng-controller="cpuController">
			<div class="panel-heading">
				<img class="panel-header-icon" src="/assets/images/cpu1.png">CPU Stats
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-lg-12">						
						<div class="flot-chart">
							<div class="flot-chart-content" id="flot-line-chart-moving"></div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-2">Show Data:</div>
					<div class="col-lg-2" ng-repeat="option in viewOptions">
						<button ng-class="{active: viewActive == option.name}" class="btn btn-outline btn-link" ng-click="changeView(option.name)">{{ option.viewName }}</button>
					</div>
					<div class="col-lg-6">
						<div class="row">
							<div class="col-lg-6">Graph Ticks: ({{ ticks }})</div>
							<div class="col-lg-6">
								<input type="range" ng-model="ticks" min="10" max="150"/>
							</div>
						</div>					
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-6">
		<div class="panel panel-default" ng-controller="memoryController">
			<div class="panel-heading">
				<img class="panel-header-icon" src="/assets/images/random.png">Memory Stats
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-lg-6">					
						<h4>RAM</h4>
						<div class="row">
							<div class="col-lg-12" ng-repeat="(key, value) in ram">
								{{ key | capitalize }}: {{ value | unittransform : unit }} {{ unit }}
							</div>
						</div>
					</div>
					
					<div class="col-lg-6">						
						<h4>Swap</h4>
						<div class="row">
							<div ng-repeat="(key, value) in swap" class="col-lg-12">
								{{ key | capitalize }}: {{ value | unittransform : unit }} {{ unit }}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-2">
						RAM
					</div>
					<div class="col-lg-10" tooltip="{{ ramTooltip }}">
						<progressbar class="progress" value="ramBar.value" type="{{ramBar.type}}"></progressbar>
					</div>
					<div class="col-lg-2">
						SWAP
					</div>
					<div class="col-lg-10" tooltip="{{ swapTooltip }}">
						<progressbar class="progress" value="swapBar.value" type="{{swapBar.type}}"></progressbar>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="col-lg-6">
		<div class="panel panel-default" ng-controller="diskController">
			<div class="panel-heading">
				<img class="panel-header-icon" src="/assets/images/disk.png">Disk Stats
			</div>
			<div class="panel-body">
				<div class="row" ng-repeat="(disk, diskStats) in diskUsage">
					<div class="col-lg-3">					
						{{ disk }} ({{ diskStats.mountpoint }})
					</div>
					
					<div class="col-lg-9">
						<progressbar class="progress" value="diskStats.usage" type="info"></progressbar>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="col-lg-6">
		<div class="panel panel-default" ng-controller="processesController">
			<div class="panel-heading">
				<img class="panel-header-icon" src="/assets/images/cpu1.png">Processes
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-lg-12">					
						{{ orderProp }}
						<table class="table table-striped table-hover">
							<thead>
								<tr>
									<th ng-click="orderProp='-pid'">PID</th>
									<th ng-click="orderProp='-user'">User</th>
									<th ng-click="orderProp='-etime'">Elapsed Time</th>
									<th ng-click="orderProp='-command'">Command</th>
								</tr>
							</thead>
							<tbody>
								<tr><input ng-model="procSearch" />
								<tr><input type="range" min="5" max="100" ng-model="procsShowed" />
								<tr ng-repeat="process in processes.procs | filter:procSearch | limitTo:procsShowed | orderBy:orderProp ">
									<td>{{ process.pid }}</td>
									<td>{{ process.user }}</td>
									<td><timer start-time="process.etimeEpoch" ng-disabled="true">{{ddays}}:{{hhours}}-{{mminutes}}-{{sseconds}}</timer></td>
									<td>{{ process.command }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>